* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  background: #e9edf0;
  overflow-y: scroll;
}

header {
  background-color: white;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999; /* Đảm bảo header hiển thị trên cùng */
}

.menuHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo a {
  font-size: 24px;
  color: #03a63c;
  text-decoration: none;
  margin-right: auto;
}

.search-text {
  display: flex;
  align-items: center;
}

.search-text input {
  padding: 8px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.icon-search {
  max-width: 20px;
  height: 20px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  margin: 0 10px;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

ul li img {
  max-width: 20px;
  height: auto;
  margin-right: 5px;
}

ul li img:hover {
  background-color: #03a63c;
  border-radius: 5px;
}

main {
  padding-top: 50px; /* Để tạo phần trống giữa header và main */
  min-width: 1200px;
  width: 1200px;
  margin: 50px auto;
}
.slideshow-container {
  position: relative;
  width   : 100%;
}

.slide {
  display: none;
}

.slide img {
  width : 100%;
  height: 200px;
}


.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev,
.next {
  position        : absolute;
  top             : 50%;
  transform       : translateY(-50%);
  padding         : 16px;
  font-size       : 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color           : white;
  cursor          : pointer;
}

.Danhmuc {
  width         : 100%;
  padding-bottom: 70px;
  padding-top : 50px;
}

.txtDanhmuc {
  display       : flex;
  align-items   : center;
  padding-bottom: 20px;
}

.txtDanhmuc p {
  color      : black;
  font-size  : 20px;
  font-weight: bold;
  margin-left: 9px;
}

.txtDanhmuc img {
  width : 50px;
  height: 50px;
}


.sectionProduct {
  width      : 100%;
  height     : 100px;
  display    : flex;
  align-items: center;

}

.sectionProduct .product-tpye {
  height      : 100px;
  width       : 100px;
  margin      : 0 20px 0 0;
  position    : relative;
  align-items : center;
  padding-left: 5px;
  cursor      : pointer;
}

.product-tpye:hover {
  transform : scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sectionProduct p {
  padding-top: 5px;
  text-align : center;
}

.sectionProduct picture {
  width      : 100%;
  height     : 100%;
  display    : flex;
  overflow   : hidden;
  text-align : center;
  padding-top: 0;
}

picture img {
  width: 100%;
}


.Sanpham {
  width         : 100%;
  padding-bottom: 30px;
}

.txtSanpham {
  display       : flex;
  align-items   : center;
  padding-bottom: 10px;
}

.txtSanpham img {
  width : 50px;
  height: 50px;
}

.txtSanpham p {
  font-size  : 20px;
  color      : black;
  font-weight: bold;
  margin-left: 9px;
}

.containerSanpham {
  width         : auto;
  height        : auto;
  display       : grid;
  place-items   : center;
  
}

.sectionSanpham {
  width        : auto;
  height       : auto;
  display      : flex;
  flex-wrap    : wrap;
  margin-bottom: 10px;
  cursor       : pointer;
}


.Sanpham-tpye {
  align-items: center;
  width      : 200px;
  height     : 200px;
  margin     : 50px 20px;

}

.Sanpham-tpye img {
  width: 100%;
}

.Sanpham-tpye p {
  color             : black;
  font-size         : 16px;
  padding-top       : 5px;
  overflow          : hidden;
  display           : -webkit-box;
  -webkit-line-clamp: 2;
  /* Số dòng giới hạn */
  -webkit-box-orient: vertical;
  line-height       : 1.5;
  /* Điều chỉnh line-height nếu cần thiết */
  max-height        : 4em;
  /* Số dòng giới hạn * line-height */

}

.Sanpham-cost {
  display    : flex;
  padding-top: 5px;
}


.Sanpham-cost p {
  flex     : 1;
  color    : #ee4d2d;
  font-size: 20px;
}

.Sanpham-cost-star {
  display    : flex;
  align-items: center;
  color      : rgb(248, 120, 5);
  font-size  : 16px;
  margin-top : 3px;
}

.Sanpham-cost-star img {
  width      : 20px;
  height     : 20px;
  margin-left: 5px;

}

.Sanpham-cost-sales {
  flex: 1;
}

.Sanpham-cost-phantram {
  position: relative;
}

.Sanpham-cost-phantram a {
  font-size: 18px;
  color    : rgb(248, 120, 5);

}

.Sanpham-cost-phantram p {
  background-color: red;
  border-radius   : 5px;
  color           : yellow;
  padding         : 5px 5px;
  margin-top      : 40px;
}

.Sanpham-cost-phantram img {
  width : 20px;
  height: 20px;

}



/* Định dạng ban đầu của phần tử p */
.Sanpham-cost-phantram p {
  position : absolute;
  top      : -25%;
  /* Đặt vị trí ban đầu là -25% */
  opacity  : 0;
  /* Ẩn phần tử */
  animation: showHide 0.5s infinite;
  /* Sử dụng animation để tự động hiển thị và ẩn đi */
}

/* Keyframe animation */
@keyframes showHide {
  0% {

    opacity: 0;
    /* Ẩn phần tử */
  }

  50% {

    opacity: 1;
    /* Hiển thị phần tử */
  }

  100% {

    opacity: 0;
    /* Giữ phần tử hiển thị */
  }
}

/* Ẩn phần tử khi không cần thiết */
.Sanpham-cost-phantram p.hidden {
  display: none;
}


.More {
  background-color: #dad873;
  width           : 100%;
  cursor          : pointer;
}

.More p {
  font-size : 20px;
  color     : #454d66;
  text-align: center;
  padding   : 8px;
}


.Voucher {
  width: 100%;

}

.Voucher-txt {
  display      : flex;
  align-items  : center;
  position     : relative;
  margin-bottom: 30px;
}

.Voucher-txt img {
  height: 50px;
  width : 50px;
}

.Voucher-txt p {
  margin-left: 10px;
  font-size  : 20px;
  color      : black;
  font-weight: bold;
}

.Voucher-txt a {
  position : absolute;
  right    : 0;
  font-size: 20px;
  color    : #454d66;
}

.Voucher-container {
  display      : flex;
  width        : 100%;
  margin-bottom: 20px;
  flex-wrap    : wrap;
  /*xuống dòng*/

}

.get-Voucher {
  width        : 500px;
  height       : 150px;
  display      : flex;
  align-items  : center;
  box-shadow   : 0 0 5px 2px #888;
  /* offsetX, offsetY, blurRadius, spreadRadius, color */
  margin-right : 20px;
  margin-bottom: 20px;
}

.get-Voucher img {
  width       : 150px;
  height      : 150px;
  padding-left: 20px;
}

.Voucher-infor {
  align-items: center;
  margin     : 20px 20px;
}

.Voucher-info p {
  padding-bottom: 10px;
  margin-left   : 20px;
}

.get-Voucher button {
  width           : 100px;
  height          : 60px;
  margin-left     : 20px;
  background-color: #7EA1C4;
  color           : #1B365C;
  border          : none;
}

.Meo {
  display: flex;
  width  : 100%;
}

.Meo-txt {
  margin-left: 50px;

}

.Meo-txt img {
  height: 100px;
  width : 100px;
}

.Meo-txt a {
  font-size      : 16px;
  text-decoration: none;
  color          : rgb(81 87 100/var(--tw-text-opacity));

}


.Meo-txt-container {
  display      : flex;
  margin-bottom: 30px;
}

.Meo-txt-a {
  display    : flex;
  align-items: center;
}

.Meo-txt-a p {
  margin-left: 10px;
}

.Meo-txt .More p {
  color    : #7f5199;
  font-size: 16px;
}

footer {
  width        : 100%;
  margin-top   : 30px;
  margin-bottom: 20px;
}

.footer-container {
  width  : 100%;
  display: flex;
}

.footer-container img {
  width : 500px;
  height: 200px;

}

.tt-Admin {
  display    : flex;
  align-items: center;
}

.tt-Admin img {
  height: 200px;
  width : 200px;
}

.tt-Admin p {
  margin-bottom: 10px;
}

.tt-bachhoaxanh {
  margin-left: 50px;

}

.tt-bachhoaxanh p {
  margin    : 20px 20px;
  text-align: center;

}
