*{
  font-family: 'Playpen Sans', cursive;
}

.danhmuc{
  width: 100%;
}

.danhmuc-container{
  width: 100%;
  display: flex;
  
}

.has-submenu{
  border       : 1px solid #ccc;
  margin-bottom: 2px;
}

.has-submenu a{
  font-size: 16px;
}

.has-submenu:hover .submenu-dropdown{
  display: block;
}

.submenu-dropdown{
  display: none;
  cursor: pointer;
}

.submenu-dropdown div{
  padding: 15px;
  border: 1px solid white;
  cursor: pointer;
  color: black;
  font-size: 13px;
  
}

.menuDM{
  left: 0;
  position: fixed;
}

.menuDM-container {
  width: 15em;
  margin-right: 9em;
  
}

.menuDM ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuDM-container ul li {
  position: relative;
  width: 15em;
}

.menuDM-container ul li .has-submenu-txt {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  width: 100%;
}

.menuDM-container .submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f5f4f1;
  z-index: 1;
  width: 100%;
}

.menuDM-container .has-submenu.active > .submenu {
  display: block;
}

.submenu li {
  border: 1px solid #ccc;
  padding: 10px;
  
}
.submenu li a{
  
  text-decoration: none;
  width: 100%;
  color: #333;
}

.menuDM-CT div{
  margin-right: 20px;
}



.hienthidanhmuc{
  width: 100%;
  margin-left: 200px;
}


.menuDM-CT h2{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
.loaiThit{
  margin-top: 20px;
  display: flex;
}

.loaiThit img{
  height: 100px;
  width: 100%;
  border-radius: 10px;
}
.loaiThit p {
  text-align: center;
  font-size: 13px;
}

.banner{
  width: 100%;
  margin-top: 20px;
}

.banner img{
  border-radius: 5px;
  width: 100%;
}

.danhmuc-body{
  width: 100%;
  margin-top: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.danhmuc-body h2{
  text-align: center;
  color: #03a63c;
  margin-top: 5px;
  padding: 20px;
  font-size: 16px;
}

.danhmuc-CT{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}
.danhmuc-CT div img{
  height: 12em;
  width: auto;
  
}

.danhmuc-CT-sp{
  width: 240px;
  margin : 10px;
  margin-bottom: 20px;
}
.danhmuc-CT-sp p{
  margin-bottom: 10px;
  font-size: 13px;
}
.danhmuc-CT-sp a {
  font-size: 13px;
}

.danhmuc-CT-sale{
  margin-top: 10px;
  width: 100%;
}
.danhmuc-CT-sale-txt1{
  text-decoration: line-through;
  margin-right: 10px;
}
.danhmuc-CT-sale-txt2{
  color: white;
  padding: 5px;
  background-color: red;
}
.danhmuc-CT-sp-bt{
  margin-top: 20px;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #03a63c;
  cursor: pointer;
  font-size: 13px;
}
.danhmuc-CT-sp-bt:hover{
  border: 1px solid #03a63c;
}
.danhmuc-sp{
  width: 100%;
}


.danhmuc-TT{
  width: 100%;
  margin-top: 20px;
}
.danhmuc-TT h2{
  text-align: center;
  color: #03a63c;
  font-size: 16px;
}
.danhmuc-TT-txt{
  margin-top: 20px;

}
.danhmuc-TT-txt a {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.danhmuc-TT-txt p{
  margin-top: 20px;
  padding: 10px 0px;
  line-height: 1.6;
  font-size: 16px;
}

.div-line{
  border-bottom: 1px solid #cccbc8;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
