*{
  font-family: 'Playpen Sans', cursive;
  font-family: 'Roboto', sans-serif;
}
/* .d2 >.submenu>a{ 
  position: relative;

}
.d2 >.submenu> .u1{
  position: absolute;
  list-style: none;
  display: none;
  top: 125px;
  left: 250px;
  padding-left: 0px;}
.d2 >.submenu:hover .u1 { display: block;} */




